@model waInventario.Models.Item.Query.RetornarPorId

<br />

<h1>Deletar item</h1>

<br />

<h2>Quer mesmo deletar esse local?</h2>

<hr />

<div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.ID)
                </td>
            </tr>
        </tbody>
    </table>

    <form asp-action="Delete">
        <input type="submit" value="Deletar" class="btn btn-default" /> |
        <a asp-action="Index">Voltar à lista</a>
    </form>
</div>

