@model waInventario.Models.Local.Query.LocalViewModel

<br />

<h1>Detalhes do local</h1>

<br />

<div>

    <div class="row">

        <div class="form-group">
            <label asp-for="ID" class="control-label"></label>
            <input asp-for="ID" class="form-control" readonly />
        </div>

        <div class="form-group">
            <label asp-for="Descricao" class="control-label"></label>
            <input asp-for="Descricao" class="form-control" readonly />
        </div>

    </div>

</div>

<div>
    <a asp-action="Index" class="btn btn-default">Voltar à lista</a>
</div>
