<h1 style="text-align: center; font-size: xx-large">Inventário Otacom</h1>
<hr style="border-bottom: solid">
<a asp-controller="Local" asp-action="Index" class="btn btn-default">Local</a>
<br /><br />
<a asp-controller="Item" asp-action="Index" class="btn btn-default">Item</a>